In [ ]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [ ]:
#load data set
home_data=pd.read_csv('/content/train (1).csv')
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# Create feature and target objects
y = home_data.SalePrice
# Create X
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = home_data[features]
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Specify Model
iowa_model = DecisionTreeRegressor(random_state=1)
# Fit Model
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [ ]:
# Make validation predictions and calculate mean absolute error
val_predictions = iowa_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE when not specifying max_leaf_nodes: 29,653

In [ ]:
# create an empty dictionary to store different model accuracies
trees = {}

# defining a function to get the MAE for a specific number of leafes 
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y) 
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val) 
    return(mae)

# compare MAE with diffeent values of leafes 
for max_leaf_nodes in [5, 50, 100, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)

    # store leaf and MAE together in dictionary 
    trees[max_leaf_nodes] = my_mae

    print(f'Max leaf nodes: {max_leaf_nodes} \t\t Mean Absolute Error:{my_mae}')

Max leaf nodes: 5 		 Mean Absolute Error:35044.51299744237
Max leaf nodes: 50 		 Mean Absolute Error:27405.930473214907
Max leaf nodes: 100 		 Mean Absolute Error:27282.50803885739
Max leaf nodes: 500 		 Mean Absolute Error:28380.917944156296
Max leaf nodes: 5000 		 Mean Absolute Error:29001.372602739724

In [ ]:
# Store the best tree sizes
best_tree_size = min(trees, key=trees.get) 
best_MAE = trees[best_tree_size]

print(f'The best tree size is one with {best_tree_size} leaf nodes. The MAE is {best_MAE}.')

The best tree size is one with 100 leaf nodes. The MAE is 27282.50803885739.

In [ ]:
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=0)

# fit the final model 
final_model.fit(X, y)

DecisionTreeRegressor(max_leaf_nodes=100, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Define the model. Set random_state to 1 
rf_model = RandomForestRegressor(random_state=1)

# fit your model 
rf_model.fit(train_X, train_y) 
predictions = rf_model.predict(val_X)

# Calculate the mean absolute error of your Random Forest model on the validation data
rf_val_mae = mean_absolute_error(val_y, predictions) 
print("Validation MAE for Random Forest Model: {}".format(rf_val_mae))

Validation MAE for Random Forest Model: 21857.15912981083